<div class="two_ins_background">
	<div class="two_scroller">
		<div class="two_title"> 404 AMAZING SHOOTER</div>
		<div class="two_instructions">Was great rigth? Ready to hit the court?<br>
		Our finguers are properly trained to deal with the next screen. <br> 
		As a #ironhacker you must know, or at least be familiar with the HTTP status codes.<br> Status codes that we love are these ones with a number 2 at the begining, don´t you think so?<br> Then, your mission this time is to fight, on a super cool spaceinternet battle, <br> against our invaders and not loved 404 errors. <br>
		Dear <%= current_user.name %>, we are proud to have you as our developer space hero. <br> GO FOR IT!
		</div>
		<div class="two_container">
			<div class="two_ins_icon">
				<img src="/macbook.png">
			</div>
			<div class="two_ins_text">THE HERO</div>
		</div>

		<div class="two_container">
			<div class="two_ins_icon">
				<div class="two_d_left">
					<div id="spacebar"><br>space bar</div>
				</div>
				<div class="two_d_right">
					<div id="arrow_container">
						<div id="arrow_c_up">
							<div class="arrow_key"><span class="arrow_emoji" >&#x25b2</span></div>
						</div>
						<div id="arrow_c_dw">
							<div class="arrow_key"><span class="arrow_emoji">&#x25c0</span></div>
							<div class="arrow_key"><span class="arrow_emoji">&#x25bc</span></div>
							<div class="arrow_key"><span class="arrow_emoji">&#x25b6</span></div>
						</div>
					</div>
				</div>
			</div>
			<div class="two_ins_text">USE THE SPACE BAR TO SHOOT THE LASER WEAPON, <br>USE KEYBOARD ARROWS TO MOVE THE HERO</div>
		</div>

		<div class="two_container">
			<div class="two_ins_icon">
					<img src="/404.png">
			</div>
			<div class="two_ins_text">SHOOT YOUR 404 ENEMIES<br>TAKE CARE! YOU CAN NOT TOUCH THEM</div>
		</div>

		<div class="two_container">
			<div class="two_ins_icon">
				<div class="two_d_left">
					<img src="/200.png">
				</div>
				<div class="two_d_right">
					<img src="/202.png">
				</div>
			</div>
			<div class="two_ins_text" style="margin-top:60px;">200 AND 202 ARE THE HTTP STATUS THAT WE LOVE<br>DON'T SHOOT THEM. LET THEM CROOS THE INTERNET </div>
		</div>

		<div class="two_container">
			<div class="two_ins_icon">
					<div class="ins_heart" style="color: #ff337e;">&#9829;</div>
					<div class="ins_heart" style="color: #ff005d;">&#9829;</div>
					<div class="ins_heart" style="color: #b80043;">&#9829;</div>
			</div>
			<div class="two_ins_text">YOU HAVE A MAXIMUM OF 3 LIFES.<br> ENJOY PLAYING AND HAVE FUN!</div>
		</div>
		
		<div class="two_container">
			<div id="game_two_btn">
				<span id="game_two_play">Play</span>
			</div>
		</div>
		
	</div>
	
</div>


