<div class="three_ins_background">
	<div class="three_scroller">

		<div class="area sublime">
			<div class="text_editor sublime_margin">
				<div class="window_bar">
					<div class="the_buttons">
						<div class="but_each thered"></div>
						<div class="but_each theyell"></div>
						<div class="but_each thegreen"></div>
					</div>
				</div>
				<div class="text_area color_sub">
					...

					


				</div>
			</div>
			<div class="input">
				<input type="text" class="your_input">
				<div></div>
			</div>
		</div>

		<div class="area vim">
			<div class="text_editor vim_margin">
				<div class="window_bar">
					<div class="the_buttons">
						<div class="but_each thered"></div>
						<div class="but_each theyell"></div>
						<div class="but_each thegreen"></div>
					</div>
				</div>
				<div class="text_area color_vim">
					
					<div class="text_stage">
						<span>101</span>	
					</div>

				</div>
			</div>
			<div class="input">
			</div>
		</div>

	</div>
</div>