.three_ins_background{
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: block;
  background-color: #4a4e64; 
}

.three_scroller{
  overflow: auto;
  position: absolute;
  width: 100%;
  height: 100%;
  top: -100%;
  left: 50%;
  -webkit-transform: translateX(-50%) ;
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  display: block;
}

.three_animation{
	animation-duration: 1.2s;
    animation-name: batle;
    animation-timing-function: ease-out;
    animation-play-state: running;
    animation-fill-mode: forwards;

}

@keyframes batle {
  70%{top: 50px;}
  100%{top: 0px; }  
}

@-webkit-keyframes batle {
  70%{top: 50px;}
  100%{top: 0px;}  
}

.three_scroller_2{
  color: white;
  overflow: auto;
  width: 100%;
  height: 100%;
}

.area{
	display: inline-block;
	width: 50%;
	height: 100%;
}

.sublime{
	float: left;
}

.vim{
	float: right;
}

.color_sub{
	background-color: #251d21;
	color: #969696;

}

.color_vim{
	background-color: white;
	color: gray;	
}

.text_editor{
	border-radius: 10px;
	-webkit-box-shadow: 0px 10px 10px -6px rgba(0,0,0,0.59);
	-moz-box-shadow: 0px 10px 10px -6px rgba(0,0,0,0.59);
	box-shadow: 0px 10px 10px -6px rgba(0,0,0,0.59);
}

.sublime_margin{
	margin: 30px 9px 15px 30px;
	line-height: 112%;
}

.vim_margin{
	margin: 70px 30px 12px 9px;
	line-height: 112%;
}

.text_area{
	display: block;
	height: 96.5%;
	border-radius: 0px 0px 4px 4px ;

}

.window_bar{
	display: block;
	height: 23px;
	background-color: lightgray;
	border-radius: 4px 4px 0px 0px;
}

.the_buttons{
	height: 15px;
	display: inline-block;
}

.but_each{
	border-radius: 50px;
	height: 13px;
	width: 13px;
	display: inline-block;
	margin-top: 5px;
	margin-left: 6px;
}

.thered{
	background-color: #f40b55;

}

.thegreen{
	background-color: #01e918;
}

.theyell{
	background-color: #fedc01;
}

.text_stage{
	padding: 22px 15px 20px 15px;
	font-family: Consolas, monaco, monospace;
	font-size: 16px;
	-webkit-user-select: none;  
  	-moz-user-select: none;     
  	-ms-user-select: none;      
  	user-select: none;       
}

.input{
	margin: 25px 17px 25px 35px;
}

.your_input{
	width: 100%;
	height: 25px;
	font-size: 15px;
	padding-left: 5px;
}

.ident{
	margin-left: 18px;
}

.ident2{
	margin-left: 36px;
}

.ident3{
	margin-left: 54px;
}

.ident4{
	margin-left: 72px;
}

.blue_t{
	color: #6bd8f1;
}

.green_t{
	color: #aae200;
}

.red_t{
	color: #e9306e;
}

.orange_t{
	color: #fea700;
}

.white_t{
	color: white;
}

.lila_t{
	color: #ab80ff;
}

.yellow_t{
	color: #ece168;
}

.red_v{
	color: #db1406;
}

.blue_v{
	color: #5851a8;
}

.brown_v{
	color: #bd7218;
}

.turq_v{
	color: #2beed1;
}

#ok_or_nop{
	color: #2beed1;
	margin-top: 10px;
	font-family: lobster_regular, verdana;
	font-size: 35px;
	text-align: center;
	text-shadow: 3px 2px black; 
}

.pinch_avatar{
	width: 65px;
	height: 65px;
	background-image: url('/pinch.jpg');
	background-size: cover;
	border-radius: 5px;
	margin-right: 45px;
	display: inline-block;
}

.pinch_comments{
	display: inline-block;
	float: right;
	margin-right: 20px;

}

.chat-thread{
	margin-top: 10px;
  margin-left: 20px; 
  padding-right: 25px;
  padding-left: 15px;
  height: 30px;
  font-family: Consolas, monaco, monospace;
  font-size: 16px;
  border-radius: 5px;
  background-color: #3AF5D9;
  position: relative;

}

.chat-thread div{
	color: #8030E9;
	padding: 5px;
	padding-top: 7px;
}

.chat-thread:after {
	position: relative;
  top: -23px;
  content: '';
  width: 0;
  height: 0;
  border-top: 15px solid #3AF5D9;
  border-right: 15px solid transparent;
  right: -38px;
  float: right;
}

.input_right{
	width: 30%;
	float: right;	
}

.input_left{
	width: 70%;
	height: 40px;
	float: left;

}

.scary_pinch{
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: rgba(19, 34, 37, 0.54);
}

.scary_pinch div{
	border-radius: 50%;
	background-image: url('/resplandor.jpg');
	background-size: cover;
	position: absolute;
	width: 600px;
	height: 600px;
	left: 50%;
	top: 50%;
	  -webkit-transform: translateX(-50%) translateY(-50%);
	      -ms-transform: translateX(-50%) translateY(-50%);
	          transform: translateX(-50%) translateY(-50%);
}

.scary_pinch span{
	  position: absolute;
	  color: #ff0f73;
	  font-size: 250px;
	  left: 50%;
	  top: 50%;
	  -webkit-transform: translateX(-50%) translateY(-50%);
	      -ms-transform: translateX(-50%) translateY(-50%);
	          transform: translateX(-50%) translateY(-50%);
	  text-align: center;
	  font-family: lobster_regular, verdana;
	  text-shadow: 4px 4px #000;
	  margin-bottom: 25px;
}

.prev_subl{
	margin-top: 80px;
	width: 500px;
	height: 280px;
	position: relative;
	left: 50%;
  	-webkit-transform: translateX(-50%) ;
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  	display: block;
  	margin-bottom: 120px;
}

.prev_subl_txt{
	font-family: verdana;
	color: lightgray;
	text-align: center;
	margin-top: 20px;
	font-size: 14px;
}

.input_subl{
	margin-top: 80px;
	width: 500px;
	height: 280px;
	position: absolute;
	left: 50%;
  	-webkit-transform: translateX(-50%) ;
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  	display: block;
  	margin-bottom: 120px;
}

.keypic{
	width: 120px;
	height: 120px;
	background-image: url('/keyboard.png');
	margin-top: 80px;
	margin-left: 180px;
	background-size: cover;
}

.warnpic{
	width: 120px;
	height: 120px;
	background-image: url('/warn.png');
	margin-top: 80px;
	margin-left: 180px;
	background-size: cover;
}

.intr_animation{
	color: lightgray;
	font-family: 'Consolas';
	margin-left: 90px;
	margin-top: 95px;

}

